body{
    background-color: aqua;
}
#heading1{
    color: blue;
    background-color: rgb(25, 206, 70);
    border-radius: 3px solid black;
    
}
.para1{
    color: blueviolet;
    background-color: aquamarine;
}
.button1{
    color: white;
    background-color: blue;
    border-radius: 4px;
}
